body {
  background-color: black;
}

#titleHeader {
  text-align: center;
}

button,
input,
h1 {
  font-family: Poppins;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 4rem;
}

button,
input {
  padding: 5px;
}

#remove-btn {
  background-color: rgb(255, 166, 1);
}

#remove-btn:hover {
  background-color: rgb(164, 107, 0);
}

#submitSearch {
  background-color: grey;
}

#submitSearch:hover {
  background-color: rgb(83, 83, 83);
}

span {
  color: white;
}
#formContainer {
  text-align: center;
}

ul {
  margin-left: 115px;
  margin-top: 60px;
}

ul li {
  display: inline-block;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 50px;
}

img {
  max-width: 300px;
}
